<span>
<p> <%= @article.name %> </p>
<p> <%= @article.content %> </p>
<form action="/posts/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:<input type="text" name="name" >
  Content:<input type="text" name="content" >
  Submit:<input type="submit" id="submit">
</form>
</span>
